@import 'colors';

body {
  margin: 0;
  font-family: monospace;
  background: $BACKGROUND_COLOR;
  text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
